RewriteEngine On

# Redirect to public folder if not already there
RewriteCond %{REQUEST_URI} !^/app/public/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /app/public/$1 [L]
